<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>News App</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <section class="has-background-black">
<br>
<div class="container is-fluid has-text-white">

  <body>
<H1 class="title is-1 has-text-link-dark">NPR News</H1>
<div class="is-size-4">   
 {% for story in npr_list  %}
    <p> {{story}} </p>
    <br>
{% endfor %}
<br>
<H1 class="title is-1 has-text-link-dark">Ars Technica </H1><br>
{% for story in ars_list  %}
    <p> {{story}} </p>
    <br>
{% endfor %}
<br>
<H1 class="title is-1 has-text-link-dark">Buffalo News WGRZ</H1><br>
{% for story in buffalo_list  %}
    <p> {{story}} </p>
    <br>
{% endfor %}
</body>
</div>
</div>
</section>
</html>
